/*
!app/
/app/*
!app/code/
/app/code/*
!app/code/community/
/app/code/community/*
!app/code/community/zsen/
/app/code/community/zsen/*
!app/code/community/zsen/tallbasket

!app/design/
/app/design/*
!app/design/frontend/
/app/design/frontend/*
!app/design/frontend/magezurb/
/app/design/frontend/magezurb/*
!app/design/frontend/magezurb/default/
/app/design/frontend/magezurb/default/*

!app/design/frontend/magezurb/default/template/
/app/design/frontend/magezurb/default/template/*
!app/design/frontend/magezurb/default/template/zsen/
/app/design/frontend/magezurb/default/template/zsen/*
!app/design/frontend/magezurb/default/template/zsen/tallbasket/

!app/design/frontend/magezurb/default/layout/
/app/design/frontend/magezurb/default/layout/*
!app/design/frontend/magezurb/default/layout/tallbasket.xml

!app/etc/
/app/etc/modules/*
!app/etc/modules/tallbasket.xml

!js/
/js/*
!js/zsen/
/js/zsen/*
!js/zsen/tallbasket

!skin/
/skin/*
!skin/frontend/
/skin/frontend/*
!skin/frontend/zsen/
/skin/frontend/zsen/*
!skin/frontend/magezurb/default/
/skin/frontend/magezurb/default/*
!skin/frontend/magezurb/default/zsen/
/skin/frontend/magezurb/default/zsen/*
!skin/frontend/magezurb/default/zsen/tallbasket/

!permissions_zsen_{tallbasket}.sh
!humans.txt
!.gitignore
